<div class="container main-content">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header class="card-title">
                    <mat-card-title style="text-align: center;">Criar nova agenda</mat-card-title>
                    <mat-card-subtitle>A agenda ficará disponível para visualização no seu perfil</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>  
                    <mat-form-field>
                        <mat-label>Input</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            
        </div>
    </div>
</div>

